.item {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.clickable {
  cursor: pointer;
  transition: filter 0.2s;

  &:hover {
    filter: drop-shadow(0 0 20px rgba(240, 192, 0, 0.4));
  }
}
