@use '../../styles/breakpoints' as *;

.item {
  position: absolute;
  top: 0;
  left: 0;
  will-change: transform;
}

.inner {
  transition: transform 0.2s;
}

.clickable {
  cursor: pointer;

  .inner {
    transform: translateX(-50%);

    @include mobile {
      padding: 8px 12px;
    }
  }

  &:hover .inner {
    transform: translateX(-50%) scale(1.05);
    filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.3));
  }
}
