@use './float-icon' as *;

.wrapper {
  @include wrapper;
}

.svg {
  @include svg;
  width: 220px;
  transform: scaleX(-1);

  @include mobile {
    width: 150px;
  }
}

.shape {
  @include shape;
}

.label {
  @include label;
  top: 40.5%;
  left: 48%;
}
