@use './float-icon' as *;

.wrapper {
  @include wrapper;
}

.svg {
  @include svg;
  width: 220px;

  @include mobile {
    width: 150px;
  }
}

.shape {
  @include shape;
}

.label {
  @include label;
  top: 58%;
  left: 65%;
  white-space: normal;
  text-align: center;
  max-width: 45%;
  line-height: 1.4;
}
