:global(body) {
  font-family: 'Syne', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  margin: 0;
}

.name {
  font-size: 3rem;
  font-weight: 300;
}
